<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="beanAThroughStaticFactory" class="org.javaturk.spring.di.ch04.domain.BeanA" factory-method="create">
		<property name="beanB" ref="beanB" />
	</bean>
	
	<bean id="beanAThroughFactory" class="org.javaturk.spring.di.ch04.domain.BeanA" factory-method="create" factory-bean="beanAFactory">
		<property name="beanB" ref="beanB" />
	</bean>
	
	<bean id="beanB" class="org.javaturk.spring.di.ch04.domain.BeanB">
		<property name="beanC" ref="beanC" />
	</bean>

	<bean id="beanC" class="org.javaturk.spring.di.ch04.domain.BeanC"/>
	
	<bean id="beanAFactory" class="org.javaturk.spring.di.ch05.bean.factory.BeanAFactory"/>

</beans>
