<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="spelBean"
		class="org.javaturk.spring.di.ch06.spel.SpelBean">
		<property name="randomNumber"
			value="#{ T(java.lang.Math).random() * 100.0 }" />
			
		<property name="username"
			value="#{ systemProperties['user.name'] }" />

		<property name="javaVersion"
			value="#{ systemProperties['java.version'] }" />

	</bean>
</beans>