<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<bean id="beanA"
		class="org.javaturk.spring.di.ch06.autowired.domain.BeanA" />

	<bean id="beanB"
		class="org.javaturk.spring.di.ch06.autowired.domain.BeanB">
		<constructor-arg name="name" value="Ayse" />
		<constructor-arg  name="age" value="25" />
	</bean>

	<bean id="beanC"
		class="org.javaturk.spring.di.ch06.autowired.domain.BeanC">
		<constructor-arg name="nameOfBean" value="BEAN-C"  />
	</bean>
	
	<bean id="beanD"
		class="org.javaturk.spring.di.ch06.autowired.domain.BeanD" />

</beans>